@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: #ff0d0d;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 450px;
  height: 80px;
  border-radius: 50px;
}

.wrapper ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper ul li {
  width: 20%;
  text-align: center;
}

.wrapper ul li a {
  color: #ff5f5f;
  font-size: 24px;
  position: relative;
  transition: all 0.3s ease;
}

.wrapper ul li a:hover {
  color: #ff0d0d;
}

.wrapper ul li .tooltip {
  position: absolute;
  top: -75px;
  left: -35px;
  background: #fff;
  width: 95px;
  padding: 10px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  color: #ff0d0d;
  font-weight: bold;
  display: none;
}

.wrapper ul li a:hover .tooltip{
   display: block;
}

.wrapper ul li .tooltip:before{
  content: "";
  position: absolute;
  top: 29px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 8px solid #fff;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}