{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>Hello, Welcome to Somi</h1>
  <br />
  <h3>A Digital Interactive Online School For The Next Generation Student</h3>
  <br />
  <h4>We offer</h4>
  <br />
  <ul>
    <li>
      A flexible online CMS that allows instructors to create courses and manage
      their contents
    </li>
    <li>
      A Student centered platform for offering dynamic content from Videos,
      Text, PDF files, and Images to deliver visual learning
    </li>
  </ul>
</div>

{% endblock content %}
