{% extends "base.html" %}

{% load static %}


    {% block content %} 



    <!--FEATURES TOP AREA-->
    {% include 'components/features.html' %}


    <!--ABOUT TOP CONTENT AREA-->
    {% include 'components/about.html' %}


    <!--COURSE AREA-->
    {% include 'components/courses.html' %}


    <!--ABOUT AREA-->
    {% include 'components/video.html' %}


    <!--TESTMONIAL AREA AREA-->
    {% include 'components/testimonials.html' %}


    <!--FAQS AREA-->
    {% include 'components/faq.html' %}


    <!--CONTACT US AREA-->
    {% include 'components/contact.html' %}


    <!--PARTNERS AREA-->
    {% include 'components/contact.html' %}


    <!--ADDMISSION AREA-->
    {% include 'components/enroll.html' %}


    <!--FOOER AREA-->
    {% include 'components/footer.html' %}

    {% endblock content %}




