@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

body{
	font-size: 14px;
	background-color: #f9f9f9;
}

a{
    color: #0366d6;
}

.wrapper{
	max-width: 310px;
	width: 100%;
	height: auto;
	margin: 40px auto;
}

.wrapper .logo img{
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto 25px;
}

.wrapper .title p{
	margin-bottom: 15px;
	font-size: 24px;
	text-align: center;
	color: #333;
}

.wrapper .form{
	margin-bottom: 15px;
	background-color: #fff;
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 20px;
}

.wrapper .form .input_field{
	margin-bottom: 15px;
	position: relative;
}

.wrapper .form .input_field label{
	display: block;
	font-weight: 600;
	margin-bottom: 7px;
	color: #24292e;
}

.wrapper .form .input_field .input{
	width: 100%;
	background: #fff;
    border: 1px solid #d1d5da;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    border-radius: 3px;
    color: #24292e;
    font-size: 16px;
    line-height: 20px;
    min-height: 34px;
    padding: 6px 8px;
}

.wrapper .form .input_field a.forgot{
	position: absolute;
	top:  0;
	right: 0;
	font-size: 12px;
	color: #0366d6;
}

.wrapper .form .input_field .input:focus{
	border-color: #2188ff;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 
    0 0 0 2.5px rgba(3,102,214,.3);
}

.wrapper .form .sign_btn{
	margin-top: 20px;
	background-color: #28a745;
	border: 1px solid rgba(27,31,35,.2);
	width: 100%;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	padding: 6px 12px;
	border-radius: 2px;
}

.wrapper .form .sign_btn:hover{
	background-color: #279f43;
}

.wrapper .create_act{
	border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    margin-bottom: 40px;
}

.wrapper .create_act a:hover{
	text-decoration: underline;
}

.wrapper .footer{
	padding: 40px 0;
	text-align: center;
}

.wrapper .footer ul li{
	display: inline-block;
}

.wrapper .footer ul li a{
	font-size: 12px;
	margin-right: 15px;
}

.wrapper .footer ul li a:hover,
.wrapper .footer ul li:last-child a:hover{
	color: #0366d6;
	text-decoration: underline;
}

.wrapper .footer ul li:last-child a{
	color: #586069;
}