@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background: #f6f6f6;
}

.contact-us{
  width: 100%;
	height: 550px;
  background: #fff;
  padding: 50px;
  border-radius: 30px;
  position: relative;
}

.title h1{
  color: #05ad51;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}

.form,
.form-items{
  width: 100%;
}

.form-items .input{
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.form-items .input.message{
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
  resize: none;
}

.btn{
  background: #05ad51;
  text-align: center;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.btn .fas{
  margin-left: 10px;
  font-size: 12px;
}

.form-items{
  position: relative;
}

.form-items .fas{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9a99aa;
}
