{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'instructors.css' %}">
</head>
<body>

<div class="wrapper">
  <h1>Our Team</h1>
  <div class="container">
    <div class="row">
      {% for q in n%}
      <div class="col">
        <div class="team">
          <div class="team_member">
            <div class="team_img">
              <img src="{% static 'img/team1.png' %}" alt="Team_image">
            </div>
            <h3>Paul Doe</h3>
            <p class="role">UI developer</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>	

</body>
</html>