@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background: #fd4141;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 480px;
  height: 70px;
  padding: 15px 35px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,0.125);
}

.wrapper ul{
  display: flex;
  text-align: center;
}

.wrapper ul li{
  width: 50px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px;
  background: #fff;
  color: #000;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  cursor: pointer;
  border-radius: 5px;
}

.wrapper ul li:first-child{
  border-radius: 0;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wrapper ul li:last-child{
  border-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.wrapper ul li:hover,
.wrapper ul li.active{
  background: #fd4141;
  color: #fff;
}