<!--ABOUT TOP CONTENT AREA-->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div
        class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12"
      >
        <div class="text-center wow fadeIn">
          <h2 class="xs-font20">Somi is trusted by 50,000+ student.</h2>
          <p>
            Microsoft has spent a lot of time trying to make Windows
            self-repairing, partly because it generally gets the blame when
            other programs or users try to improve” it. Given that tens of
            thousands of expert programmers have worked on the code over the
            past 30 years.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--ABOUT TOP CONTENT AREA END-->
