<!--ADDMISSION AREA-->
<section class="admition-area padding-50-50 bg-theme">
  <div class="container">
    <div class="row flex-v-center">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="admition-content xs-center xs-mb30">
          <h3 class="xs-font20">Addmission are now open</h3>
          <p>
            Writers and stars of Veep have responded incredulously to the news
            an Australian politician required stitches after knocking himself
            unconscious .
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <div class="enroll-button right xs-center">
          <a href="#">Enroll Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--ADDMISSION AREA END-->
