<!--FAQS AREA-->
<section class="faqs-area padding-100-50" id="faqs">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="area-title text-center wow fadeIn">
          <h2>FAQS</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box relative mb50 wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <h3 class="box-title">1.Two Very Different Australias?</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            users’ inboxes on Wednesday in what seemed to be a sophisticated
            phishing.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box relative mb50 wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <h3 class="box-title">2.What Does Darwin Mean to You?</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            users’ inboxes on Wednesday in what seemed to be a sophisticated
            phishing.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box relative mb50 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h3 class="box-title">3.Where Totem Poles Are a Living Art ?</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            users’ inboxes on Wednesday in what seemed to be a sophisticated
            phishing.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box relative mb50 wow fadeInUp"
          data-wow-delay="0.1s"
        >
          <h3 class="box-title">1.Two Very Different Australias?</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            users’ inboxes on Wednesday in what seemed to be a sophisticated
            phishing.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box relative mb50 wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <h3 class="box-title">2.What Does Darwin Mean to You?</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            users’ inboxes on Wednesday in what seemed to be a sophisticated
            phishing.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box relative mb50 wow fadeInUp"
          data-wow-delay="0.3s"
        >
          <h3 class="box-title">3.Where Totem Poles Are a Living Art ?</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            users’ inboxes on Wednesday in what seemed to be a sophisticated
            phishing.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--FAQS AREA END-->
