<!--FEATURES TOP AREA-->
<section class="features-top-area" id="features">
  <div class="container">
    <div class="row promo-content">
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box mb20 xs-mb0 wow fadeInUp padding30"
          data-wow-delay="0.1s"
        >
          <div class="box-icon features-box-icon">
            <i class="fa fa-graduation-cap"></i>
          </div>
          <h3 class="box-title">Certificate</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            Wednesday in what seemed to be a phishing attack.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30"
          data-wow-delay="0.2s"
        >
          <div class="box-icon features-box-icon">
            <i class="icofont icofont-business-man-alt-1"></i>
          </div>
          <h3 class="box-title">Expert Instructors</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            Wednesday in what seemed to be a phishing attack.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30"
          data-wow-delay="0.3s"
        >
          <div class="box-icon features-box-icon">
            <i class="fa fa-rocket"></i>
          </div>
          <h3 class="box-title">Learn from anywhere</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            Wednesday in what seemed to be a phishing attack.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        <div
          class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30 visible-sm"
          data-wow-delay="0.4s"
        >
          <div class="box-icon features-box-icon">
            <i class="fa fa-cog"></i>
          </div>
          <h3 class="box-title">Quality Service</h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            Wednesday in what seemed to be a phishing attack.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--FEATURES TOP AREA END-->
