<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somi</title>
</head>
<body>
    <div class="mainmenu-area" id="mainmenu-area">
        <div class="mainmenu-area-bg"></div>
        <nav class="navbar">
          <div class="container">
            <div class="navbar-header">
              <a href="#" class="navbar-brand"
                ><img src="{% static 'assest/img/logo.png'%}" alt="logo"
              /></a>
            </div>
            <div id="main-nav" class="stellarnav">
              <ul id="nav" class="nav navbar-nav pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Instructors</a></li>
                <li><a href="accounts/login/">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
</body>
</html>