{% load static %}

<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="APPTON HTML5 Template is a simple Smooth Personal App Landing Template" />
    <meta name="keywords" content="App, Landing, Business, Onepage, Html, Business" />

    <!--====== TITLE TAG ======-->
    <title>Somi</title>

    <!--====== FAVICON ICON =======-->
    <!-- <link rel="shortcut icon" type="image/ico" href="assest/img/favicon.png" /> -->

    <!--====== STYLESHEETS ======-->
    <link href="{% static 'assest/css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'assest/css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'assest/css/icons.css' %}" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'assest/css/responsive.css' %}" rel="stylesheet">

    <script src="{% static 'assest/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

{% block content %}
{% endblock %}