{% load static %}

<!--COURSE AREA-->
<section class="course-area padding-top" id="courses">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12"
      >
        <div class="area-title text-center wow fadeIn">
          <h2 class="xs-font26">Our Trending Courses</h2>
        </div>
      </div>
    </div>
    <div class="row course-list">
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="single-course mb20">
          <img src="{% static 'assest/img/course/blog-1.jpg' %}" alt="" />
          <div class="course-details padding30">
            <h3 class="font18">How to Write a Powerful Speech</h3>
            <p>
              MPs who are leaving the protection of for the campaign trail will
              render...
            </p>
            <p class="mt30">
              <a href="#" class="enroll-button">Enroll the Courses</a>
              <span class="course-price">$29.99</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="single-course mb20">
          <img src="{% static 'assest/img/course/blog-2.jpg' %}" alt="" />
          <div class="course-details padding30">
            <h3 class="font18">The Art and Practice of Leadership</h3>
            <p>
              MPs who are leaving the protection of for the campaign trail will
              render...
            </p>
            <p class="mt30">
              <a href="#" class="enroll-button">Enroll the Courses</a>
              <span class="course-price">$29.99</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="single-course mb20">
          <img src="{% static 'assest/img/course/blog-3.jpg' %}" alt="" />
          <div class="course-details padding30">
            <h3 class="font18">Introduction to Resume Writing</h3>
            <p>
              MPs who are leaving the protection of for the campaign trail will
              render...
            </p>
            <p class="mt30">
              <a href="#" class="enroll-button">Enroll the Courses</a>
              <span class="course-price">$29.99</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
        <div class="single-course mb20">
          <img src="{% static 'assest/img/course/blog-4.jpg' %}" alt="" />
          <div class="course-details padding30">
            <h3 class="font18">The Art and Practice of Leadership</h3>
            <p>
              MPs who are leaving the protection of for the campaign trail will
              render...
            </p>
            <p class="mt30">
              <a href="#" class="enroll-button">Enroll the Courses</a>
              <span class="course-price">$29.99</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--COURSE AREA END-->
