{% load static %}

<!--FOOER AREA-->
<footer class="footer-area sky-gray-bg relative">
  <div class="footer-top-area padding-80-80 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
          <div
            class="single-footer footer-about sm-mb50 xs-mb50 sm-center xs-center"
          >
            <div class="footer-logo mb30">
              <a href="#"
                ><img src="{% static 'assest/img/logo.png' %}" alt=""
              /></a>
            </div>
            <p>
              Saudi Arabia has been accused of using anti-terror laws to
              suppress free expression and failing to carry out independent
              inquiries into its Yemen.
            </p>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12">
          <div class="single-footer footer-list white xs-center xs-mb50">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Privicy Policy</a></li>
              <li><a href="#">Testmonial</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-5 col-lg-5 col-sm-8 col-xs-12">
          <div class="single-footer footer-subscribe white xs-center">
            <h3 class="mb30 xs-font18">Subscribe Our Newsletter</h3>
            <p>
              Doubtful for answered one fat indulged margaret sir shutters
              together. Ladies so in wholly .
            </p>
            <div class="subscriber-form-area mt50 wow fadeIn">
              <!--<form action="#" class="subscriber-form mb100">
                                    <input type="email" name="email" id="email" placeholder="Email Address">
                                    <button type="submit">Subscribe</button>
                                </form>-->
              <form id="mc-form" class="subscriber-form">
                <label class="mt10" for="mc-email"></label>
                <input
                  type="email"
                  id="mc-email"
                  placeholder="email@example.com"
                />
                <button type="submit" class="plus-btn">
                  <i class="fa fa-paper-plane-o"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-area white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="footer-copyright text-center wow fadeIn">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="fa fa-heart-o" aria-hidden="true"></i> by
              <a href="{% static 'https://colorlib.com'%}" target="_blank"
                >Colorlib</a
              >
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--FOOER AREA END-->
