{% load static %}

<!--CLIENT AREA-->
<div class="client-area padding-bottom mt100 sm-mt10 xs-mt0">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="client-slider">
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-6.png' %}" alt="" />
          </div>
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-7.png' %}" alt="" />
          </div>
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-8.png' %}" alt="" />
          </div>
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-9.png' %}" alt="" />
          </div>
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-10.png' %}" alt="" />
          </div>
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-6.png' %}" alt="" />
          </div>
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-7.png' %}" alt="" />
          </div>
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-8.png' %}" alt="" />
          </div>
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-9.png' %}" alt="" />
          </div>
          <div class="single-client">
            <img src="{% static 'assest/img/client/client-10.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--CLIENT AREA END-->
