{% load static %}

<!--TESTMONIAL AREA AREA-->
<section class="testmonial-area bg-theme section-padding" id="testmonial">
  <div class="container">
    <div class="row">
      <div
        class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12"
      >
        <div class="area-title text-center wow fadeIn">
          <h2>What Our Customer Say</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testmonial-slider">
          <div class="single-testmonial">
            <div class="author-content mb20">
              <p>
                “The recording starts with the patter of a summer squall. Later
                a drifting tone like that of a not-quite-tuned-in radio station
                rises and for a while drowns out the patter. These are the
                sounds encountered by NASA.”
              </p>
            </div>
            <div class="author-name-image relative">
              <div class="author-img mb20">
                <img
                  src="{% static 'assest/img/testmonial/testmonial.jpg' %}"
                  alt=""
                />
              </div>
              <h4>Harold Crouse</h4>
              <a href="#">Sales manager</a>
            </div>
          </div>
          <div class="single-testmonial">
            <div class="author-content mb20">
              <p>
                “The recording starts with the patter of a summer squall. Later
                a drifting tone like that of a not-quite-tuned-in radio station
                rises and for a while drowns out the patter. These are the
                sounds encountered by NASA.”
              </p>
            </div>
            <div class="author-name-image relative">
              <div class="author-img mb20">
                <img
                  src="{% static 'assest/img/testmonial/testmonial.jpg' %}"
                  alt=""
                />
              </div>
              <h4>Harold Crouse</h4>
              <a href="#">Sales manager</a>
            </div>
          </div>
          <div class="single-testmonial">
            <div class="author-content mb20">
              <p>
                “The recording starts with the patter of a summer squall. Later
                a drifting tone like that of a not-quite-tuned-in radio station
                rises and for a while drowns out the patter. These are the
                sounds encountered by NASA.”
              </p>
            </div>
            <div class="author-name-image relative">
              <div class="author-img mb20">
                <img
                  src="{% static 'assest/img/testmonial/testmonial.jpg' %}"
                  alt=""
                />
              </div>
              <h4>Harold Crouse</h4>
              <a href="#">Sales manager</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--TESTMONIAL AREA AREA END-->
