{% load static %}

<!--ABOUT AREA-->
<section class="section-padding about-area" id="about">
  <div class="container">
    <div class="row flex-v-center">
      <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
        <div class="about-content xs-mb50 wow fadeIn">
          <h3 class="xs-font20 mb30">
            Education is the foundation upon which we build our future.
          </h3>
          <p>
            A Google Docs scam that appears to be widespread began landing in
            users’ inboxes on Wednesday in what seemed to be a sophisticated
            phishing or malware attack. The deceptive invitation to edit a
            Google Doc on Google Docs with you.
          </p>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12"
      >
        <div class="video-promo-details wow fadeIn">
          <div class="video-promo-content">
            <span data-video-id="j1S66liv1t8" class="video-area-popup mb30"
              ><i class="fa fa-play"></i
            ></span>
          </div>
          <img src="{% static 'assest/img/about/about.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!--ABOUT AREA END-->
